__history
dcu
*.bsc
*.~*
*.dcu
*.local
*.exe
*.dsk
*.identcache
*.tvsconfig
*.skincfg
*.otares
*.drc
*.jdbg
*.map
*.log
*.tlog
*.lastbuildstate
*.exp
*.vlb
*.local
*.identcache 
*.stat
License.pas
update_submodule.cmd